[workspace]
resolver = "2"

members = [
    "./evento",
    "./evento-core",
    "./evento-sql",
    "./evento-sql-migrator",
    "./evento-macro",
    "./examples/*"
]

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3
