[package]
name = "evento-core"
version = "1.8.0"
edition = "2021"
license = "Apache-2.0"
publish = true
description = "Core types and traits for evento event sourcing library."
repository = "https://github.com/timayz/evento"
documentation = "https://docs.rs/evento-core"
readme = "README.md"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
ulid = { version = "1.2", features = ["serde"] }
tokio = { version = "1.47", features = ["full"] }
tokio-stream = { version = "0.1", optional = true }
evento-macro = { path = "../evento-macro", optional = true, version = "1.8.0" }
anyhow = "1.0"
bincode = "2.0"
thiserror = "2.0"
async-trait = "0.1"
tracing = "0.1.44"
base64 = "0.22"
futures-util = { version = "0.3", optional = true }
backon = { version = "1.5", optional = true }
sqlx = { version = "0.8", optional = true }

[features]
default = ["macro", "handler", "stream", "group", "rw"]
macro = ["evento-macro"]
stream = ["futures-util", "tokio-stream"]
group = ["futures-util"]
handler = ["backon"]
rw = []
sqlite = ["sqlx/sqlite"]
mysql = ["sqlx/mysql"]
postgres = ["sqlx/postgres"]
