{% extends "_base.html" %}

{% block content %}
<div class="container mx-auto max-w-2xl">
  <h3 class="font-bold text-lg mb-2">Details product</h3>
  <div class="card bg-base-100 shadow-xl">
    <figure>
      {% match thumbnail %}
        {% when Some with (thumbnail) %}
        <img height="320" width="320" src="{{ thumbnail }}" alt="Product" loading="lazy" />
        {% when None %}
        <img src="https://source.unsplash.com/random/320x230" alt="Product" loading="lazy" />
        {% endmatch %}
    </figure>
    <div class="card-body">
      <h2 class="card-title">{{ name|e }}</h2>
      <p>
        {{ description }}
      </p>
    </div>
  </div>
</div>
</div>
{% endblock %}