{% extends "_base.html" %}

{% block content %}
<div class="container mx-auto max-w-2xl">
  <h3 class="font-bold text-lg mb-2">Edit product</h3>
  <form method="post" action="/edit" up-submit>
    <div class="text-error">
      <div class="errors"></div>
    </div>
    <input type="hidden" name="id" value="{{ id }}" />

    <div class="form-control">
      <input type="text" name="name" placeholder="Enter product name" class="input input-bordered w-full max-w-xs"
        value="{{ name }}" />
      {% if let Some(errs) = errors.get("name") %}
      <div class="text-error">{{ errs[0] }}</div>
      {% endif %}
    </div>

    <div class="form-control">
      <textarea class="textarea textarea-bordered" name="description"
        placeholder="Description">{{ description }}</textarea>
      {% if let Some(errs) = errors.get("description") %}
      <div class="text-error">{{ errs[0] }}</div>
      {% endif %}
    </div>

    <div class="form-control">
      <textarea class="textarea textarea-bordered" name="category"
        placeholder="Category">{{ category }}</textarea>
      {% if let Some(errs) = errors.get("category") %}
      <div class="text-error">{{ errs[0] }}</div>
      {% endif %}
    </div>

    <div class="form-control"><input type="number" name="price" step="0.01" value="{{ price }}"
        class="input input-bordered w-full max-w-xs" />
      {% if let Some(errs) = errors.get("price") %}
      <div class="text-error">{{ errs[0] }}</div>
      {% endif %}
    </div>

    <div class="form-control">
      <input type="number" name="stock" step="0" class="input input-bordered w-full max-w-xs" value="{{ stock }}" />
      {% if let Some(errs) = errors.get("stock") %}
      <div class="text-error">{{ errs[0] }}</div>
      {% endif %}
    </div>

    <div class="form-control">
      <label class="label cursor-pointer">
        <span class="label-text">Visible</span>
        <input type="checkbox" name="visible" class="toggle" {% if visible %} checked{% endif %} />
      </label>
    </div>

    <div class="modal-action">
      <button class="btn btn-primary">Save changes</button>
      <a href="/" class="btn" up-follow>Cancel</a>
    </div>
  </form>
</div>
{% endblock %}