[package]
name = "evento"
version = "1.8.0"
edition = "2021"
license = "Apache-2.0"
publish = true
description = "A collection of libraries and tools that help you build DDD, CQRS, and event sourcing."
repository = "https://github.com/timayz/evento"
documentation = "https://docs.rs/evento"
readme = "README.md"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
ulid = { version = "1.2", features = ["serde"] }
tokio = { version = "1.47", features = ["full"] }
tokio-stream = { version = "0.1", optional = true }
evento-macro = { path = "../evento-macro", optional = true, version = "1.8.0" }
anyhow = "1.0"
bincode = "2.0"
sqlx = { version = "0.8", optional = true }
sqlx_migrator = { version = "0.18", optional = true }
thiserror = "2.0"
async-trait = "0.1"
tracing = "0.1"
base64 = "0.22"
sea-query = { version = "1.0.0-rc.14", default-features = false, features = ["derive", "audit"], optional = true }
sea-query-sqlx = { version = "0.8.0-rc.9", features = ["runtime-tokio"], optional = true }
futures-util = { version = "0.3", optional = true }
backon = { version = "1.5", optional = true }

[dev-dependencies]
sqlx = { version = "0.8", features = ["runtime-tokio", "any"] }
rand = "0.9"

[features]
default = ["macro", "handler", "stream", "group", "rw", "sql"]
macro = ["evento-macro"]
stream = ["futures-util", "tokio-stream"]
group = ["futures-util"]
handler = ["backon"]
rw = []
sql = ["sqlite", "mysql", "postgres"]
sqlite = ["sea-query/backend-sqlite", "sea-query-sqlx/sqlx-sqlite", "sqlx/sqlite", "sqlx_migrator/sqlite"]
mysql = ["sea-query/backend-mysql", "sea-query-sqlx/sqlx-mysql", "sqlx/mysql", "sqlx_migrator/mysql"]
postgres = ["sea-query/backend-postgres", "sea-query-sqlx/sqlx-postgres", "sqlx/postgres", "sqlx_migrator/postgres"]
