{% extends "_base.html" %}

{% block head %}
<script src="/static/unpoly/infinite.js"></script>
<script src="/static/js/index.js"></script>
{% endblock %}

{% block content %}
<div class="container mx-auto">
    <div class="grid grid-cols-2 gap-4" up-infinite="products" up-infinite-url="/" {% if let Some(cursor)=cursor %}
        data-cursor="{{ cursor }}" {% endif %}>
        {% for edge in data.edges %}
        {% include "_product.html" %}
        {% endfor %}
    </div>
    {% if let Some(cursor)=cursor %}
    <noscript>
        <a href="/?after={{ cursor }}" class="btn btn-sm">
            Next page
        </a>
    </noscript>
    {% endif %}
</div>
{% endblock %}
